{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
        <div class="mdl-card__title">
            <h1 class="mdl-card__title-text">
                <a href="{{ path('admin_index') }}" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">arrow_back</i>
                </a>
            </h1>
        </div>
        <div class="mdl-card__supporting-text">
            <h4>{{ application.name }}</h4>

            <b>E-mail:</b>
            <br>
            {{ application.email }}

            <hr>
            <b>Created At:</b>
            <br>
            {{ application.createdAt|date('Y-m-d H:i:s') }}

            <hr>
            <b>Location:</b>
            <br>
            {{ application.location.city }}, {{ application.location.regionName }}, {{ application.location.country }}
        </div>
        <div class="mdl-card__menu">
            <a id="btn-file" href="{{ path('admin_application_file_download', { id: application.id }) }}" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                <i class="material-icons">description</i>
            </a>
            <div class="mdl-tooltip" data-mdl-for="btn-file">
                Download file
            </div>
        </div>
    </div>
{% endblock %}